<h1>members-only</h1>

<% if current_user %>
  <p>You are logged in as <%= current_user.name %>. <%= link_to 'Log out', logout_path, method: :delete %></p>
<% end %>

<% unless current_user %>
  <%= link_to 'Log in', login_path %>
<% end %>
<%= link_to 'View posts', posts_path %>